<h2><%= @article.title%></h2>
<p><%= @article.content%></p>
<form class="" action="/articles/<%= @article.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" name="" value="Delete">
</form>
