<<<<<<< HEAD
<h2><%= @article.title%></h2>
<p><%= @article.content%></p>
<form class="" action="/articles/<%= @article.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" name="" value="Delete">
</form>
=======
<% @article.title%>
<% @article.content%>
>>>>>>> 0f06e356f0d918e26d5c4b2f94964345c09e8a82
